//Left Container for links 
.main-tab{
    width: 20%;
    height: 90%;
    margin: 5%;
    margin-top: 3%;
    background-color: rgb(50, 72, 244);
    border-radius: 22px;
    color: white;
    display: inline-block;
    position: fixed;
}

span{
    vertical-align: text-top;
}

//Individual parts of the left tab

a{
    color: white;
    vertical-align: text-top;
    font-size: large;
    text-decoration: none;
}

//Profile picture
.face-image{
    height: 20%;
}

.profile-picture{
    height: 6em;
    width: 6em;
    border-radius: 100%;
    margin: 10%;
    border: 0.2em solid white
}

//Jobs
.name{
    height: 15%;
}

.name-font{
    font-weight: bold;
    font-size: x-large;
    margin-left: 10%;
    margin-top: 5%;
}

.job{
    text-transform: uppercase;  
    margin-left: 10%;
    font-size: large;
}

//Links
.page-links{
    height: 50%;
}

.category{
    font-size: large;
    margin-top: 3.5%;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.category:hover{
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
    //background-color: blue; //Transition to another color
}

.icon{
    height: 1.4em;
    width: 1.4em;
    margin-left: 10%;
    margin-right: 5%;
}

//Social media links
.social-media{
    height: 15%;
    text-align: center;
}

.social-icon{
    height: 2em;
    width: 2em;
    margin: 5%;
    cursor: pointer;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.social-icon:hover {
    -webkit-transform : rotate(360deg) scale(1.4); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(360deg) scale(1.4); /* IE 9 */
    transform         : rotate(360deg) scale(1.4); /* Firefox 16+, IE 10+, Opera */
}

