<div class = "main-tab">
    <!--Part for the profile picture-->
    <div class = "face-image">
        <img class="profile-picture" src="../../assets/images/cara-hombre-sonriendo.jpg">
    </div>

    <!--Part for the profile name and job-->
    <div class = "name">
        <div class="name-font">{{name}}</div>
        <br>
        <div class="job">{{job}}</div>
    </div>

    <!--Part for the links included at the page-->
    <div class = "page-links">
        <div class="category"> <img class="icon" src="../../assets/icons/home.png">Inicio</div>
        <div class="category"> <img class="icon" src="../../assets/icons/user-1.png">Sobre mi</div>
        <div class="category"> <img class="icon" src="../../assets/icons/atomic.png">Educación</div>
        <div class="category"> <img class="icon" src="../../assets/icons/monitor.png">Habilidades</div>
        <div class="category"> <img class="icon" src="../../assets/icons/trophy.png">Reconocimientos </div>
        <div class="category"> <img class="icon" src="../../assets/icons/layers.png">Experiencia</div>
        <div class="category"> <img class="icon" src="../../assets/icons/chat.png">Contacto</div>
    </div>

    <!--Part for the social media icons-->
    <div class = "social-media">
        <img class= "social-icon" src="../../assets/icons/github.png">
        <img class= "social-icon" src="../../assets/icons/linkedin.png">
        <img class= "social-icon" src="../../assets/icons/youtube.png">
        <img class= "social-icon" src="../../assets/icons/email.png">
        
    </div>

</div>