<!--The container contains the whole set of tabs-->
<div class="container">
    <!--The first tab is set to containt the home-->
    <div class="home">
        <div class="container_name">
            <div class="name">
                Soy {{name}}
            </div>
            <div class="description">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="buttons">
            <button mat-raised-button color="warn" style="margin-right:20%; padding-left: 3%; padding-right: 3%;">Ver portfolio</button>
            <button mat-raised-button style="padding-left: 3%; padding-right: 3%;">Contrátame</button>
        </div>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="about"></app-tab-header>
        <div class="about-photo">
            <img class="profile-picture" src="../../assets/images/cara-hombre-sonriendo.jpg">
        </div>
        <div class="about-text">
            <div class="about-hello">
                Hola,
            </div>
            <div class="about-description">
                {{about_description}}
            </div>
            <div class="about-data">
                <div class="about-data-left"> 
                    <span style="color: rgb(68, 68, 68);"><b>Nombre:</b></span> Blas de Lezo
                    <br>
                    <span style="color: rgb(68, 68, 68);"><b>Cumpleaños:</b></span> 3-February-1689
                </div>
                <div class="about-data-right">
                    <span style="color: rgb(68, 68, 68);"><b>Localización:</b></span> Vizcaya
                    <br>
                    <span style="color: rgb(68, 68, 68);"><b>Email:</b></span> blas@marina.españa
                </div>
            </div>
            <div class="about-buttons">
                <button mat-raised-button color="warn" style="margin-right:20%; padding-left: 3%; padding-right: 3%;">Descarga mi CV</button>
                <button mat-raised-button color="primary" style="padding-left: 3%; padding-right: 3%;">Contratame</button>
            </div>
        </div>
    </div>

    <div class="time">
        <app-tab-header [parentData]="education"></app-tab-header>
        <app-timeline></app-timeline>
        <br>
        
    </div>

    <!--This tab is dedicated to the main skill set-->
    <div class="main-skills">
        <div class="main-skill">            
            <img class="skill-picture" src="../../assets/icons/python.png">
            <div class="text-skill"> Python </div>
        </div>
        <div class="main-skill">
            <img class="skill-picture" src="../../assets/icons/ai.png">
            <div class="text-skill"> Artificial Intelligence</div>
        </div>
        <div class="main-skill">
            <img class="skill-picture" src="../../assets/icons/social.png">
            <div class="text-skill"> Teamwork</div>
        </div>
        <div class="main-skill">
            <img class="skill-picture" src="../../assets/icons/linux.png">
            <div class="text-skill"> Linux</div>

        </div>
        
       
    </div>

    <!--This tab is dedicated to the skill set-->
    <div class="education">
        <app-tab-header [parentData]="skills"></app-tab-header>

        <div class="skill-set">
            <div class="skill-title">Technical Skills</div>
                <div class="skill-title-left">
                    <h2>Destacados</h2>
                    <ul>
                        <li>Python</li>
                        <li>HTML/CSS/JavaScript</li>
                        <li>C</li>
                    </ul>
                </div>
                <div class="skill-title-right">
                    <h2>Especialización</h2>
                    <ul>
                        <li>Inteligencia Artificial</li>
                        <li>Computación</li>
                        <li>Ingeniería del software</li>
                    </ul>
                </div>
                <div class="skill-title-left">
                    <h2>Lenguajes y frameworks</h2>
                    <ul>
                        <li>Angular</li>
                        <li>SQL</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>jQuery</li>
                        <li>Bash</li>
                        <li>Assembly</li>
                    </ul>
                </div>
                <div class="skill-title-right">
                    <h2>Herramientas y sistemas </h2>
                    <ul>
                        <li>Linux</li>
                        <li>Git</li>
                        <li>MacOs</li>
                    </ul>
                </div>
        </div>

        <div class="skill-set">
            <div class="skill-title">Soft Skills</div>
            <div class="skill-title-left">
                <ul>
                    <li>Trabajo en equipo</li>
                    <li>Resiliencia</li>
                </ul>
            </div>
            <div class="skill-title-right">
                <ul>
                    <li>Organización</li>
                </ul>
            </div>
        </div>

        <div class="skill-set">
            <div class="skill-title">Idiomas</div>
            <br>
            <img class="flag" src="../../assets/icons/uk.png">
            <h2> Inglés, B2 - First</h2>
            <br>
            <img class="flag last" src="../../assets/icons/spain.png">
            <h2> Español, Nativo</h2>
        </div>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="rewards"></app-tab-header>
    </div>

    <!--This tab is dedicated to the experience tab-->
    <div class="experience">
        <app-tab-header [parentData]="experience"></app-tab-header>
        <div class="post-experience left-post">
            <img class ="post-picture" (click)="openDialog(1)" src="../../assets/images/t3f_icon_deg.png">
            <span class="text-post">Voluntario evento tecnológico T3chfest</span>
        </div>
        <div class="post-experience right-post">
            <img class="post-picture" (click)="openDialog(2)" src="../../assets/images/uc3m.png">
            <span class="text-post">Profesor particular</span>
        </div>
    </div>

    <!--This tab is dedicated to the contact-me tab-->
    <div class="about-me last">
        <app-tab-header [parentData]="contact"></app-tab-header>
        <div class="contact-left">
            <div class="contact-mini">
                <div class="contact-mini-left">
                    <img class="contact-icon" src="../../assets/icons/correo.png">
                </div>
                <div class="contact-mini-right">
                    <h2>Email</h2>
                    <div class="section">
                        <div class="section__item">
                            <a href="mailto:mario.lozanocortes@gmail.com" class="sm-link sm-link_padding-bottom sm-link3">
                                <span class="sm-link__label">lozanocortes@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-mini">
                <div class="contact-mini-left">
                    <img class="contact-icon" src="../../assets/icons/linkedin (azul).png">
                </div>
                <div class="contact-mini-right">
                    <h2>LinkedIn</h2>
                    <div class="section">
                        <div class="section__item">
                            <a href="https://es.wikipedia.org/wiki/Espa%C3%B1a" class="sm-link sm-link_padding-bottom sm-link3">
                                <span class="sm-link__label">Mi LinkedIn</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="contact-mini">
                <div class="contact-mini-left">
                    <img class="contact-icon" src="../../assets/icons/alfiler.png">
                </div>
                <div class="contact-mini-right">
                    <h2>Ubicación</h2>
                    <div class="section">
                        <div class="section__item">
                            <a href="https://es.wikipedia.org/wiki/Espa%C3%B1a" class="sm-link sm-link_padding-bottom sm-link3">
                                <span class="sm-link__label">Madrid, España</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-right"></div>
    </div>
</div>

