<!--The container contains the whole set of tabs-->
<div class="container">
    <!--The first tab is set to containt the home-->
    <div class="home">
        <div class="container_name">
            <div class="name">
                Soy {{name}}
            </div>
            <div class="description">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="buttons">
            <button mat-raised-button color="warn" style="margin-right:20%; padding-left: 3%; padding-right: 3%;">Ver portfolio</button>
            <button mat-raised-button style="padding-left: 3%; padding-right: 3%;">Contrátame</button>
        </div>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="about"></app-tab-header>
        <div class="about-photo">
            <img class="profile-picture" src="../../assets/images/cara-hombre-sonriendo.jpg">
        </div>
        <div class="about-text">
            <div class="about-hello">
                Hola,
            </div>
            <div class="about-description">
                {{about_description}}
            </div>
            <div class="about-data">
                <div class="about-data-left"> 
                    <span style="color: rgb(68, 68, 68);"><b>Nombre:</b></span> Blas de Lezo
                    <br>
                    <span style="color: rgb(68, 68, 68);"><b>Cumpleaños:</b></span> 3-February-1689
                </div>
                <div class="about-data-right">
                    <span style="color: rgb(68, 68, 68);"><b>Localización:</b></span> Vizcaya
                    <br>
                    <span style="color: rgb(68, 68, 68);"><b>Email:</b></span> blas@marina.españa
                </div>
            </div>
            <div class="about-buttons">
                <button mat-raised-button color="warn" style="margin-right:20%; padding-left: 3%; padding-right: 3%;">Descarga mi CV</button>
                <button mat-raised-button color="primary" style="padding-left: 3%; padding-right: 3%;">Contratame</button>
            </div>
        </div>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="education"></app-tab-header>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="skills"></app-tab-header>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="rewards"></app-tab-header>
    </div>

    <div class="about-me">
        <app-tab-header [parentData]="experience"></app-tab-header>
    </div>

    <div class="about-me last">
        <app-tab-header [parentData]="contact"></app-tab-header>
    </div>
</div>

