//The full page is organised in two components, the right one and the left one
.container{
    display: inline-block;
    width: 65%;
    margin-top: 5%;
    margin-right: 5%;
    height: 100%;
    vertical-align: top;
}

//The classes for the card set to fit the home
.home{
    background-color: rgb(50, 72, 244);
    height: 90%;
    border-radius: 22px;
    color: white;
    position: relative;
}

.container_name{
    height: 72%;
    position: relative;
}

.name{
    font-size: 4.5em;
    line-height: 1em;
    position: absolute;
    bottom: 40%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    font-weight: bold;
}

.description{
    position: absolute;
    bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1em;
}

.buttons{
    margin-left: 10%;
    margin-right: 10%;
}

//The classes for the card set to fix the about me
.about-me{
    background-color: white;
    height: 70%;
    border-radius: 22px;
    margin-top: 5%;
}

.about-photo{
    width: 35%;
    height: 70%;
    display: inline-block;
}

.profile-picture{
    height: 12em;
    width: 12em;
    border-radius: 100%;
    margin: 19%;
    margin-top: 7%;
    border: 0.2em solid white
}

.about-text{
    width: 60%;
    margin-right: 5%;
    height: 70%;
    display: inline-block;
    vertical-align: top;
}

.about-hello{
    margin-top: 7%;
    font-size: 3em;
    font-weight: bold;
    height: 13%;
}

.about-description{
    height: 30%;
    color: rgb(150, 150, 150);
    text-align: justify;
}

.about-data{
    height: 20%;
    color: rgb(150, 150, 150);
}

.about-data-left{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.about-data-right{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.about-buttons{
    height: 30%;
}

.last{
    margin-bottom: 5%;
}

//The classes for the card set to fix the education
.education{
    background-color: white;
    height: auto;
    border-radius: 22px;
    margin-top: 5%;
}